.idea
hello.txt
notes.txt
test3.txt
qwerty.txt
/Demo/debug.log
Demo/utilities/__pycache__/
/Demo/picture/*

Demo/pytest_d/.pytest_cache
Demo/pytest_d/__pycache__/
test_run.log
Demo/__pycache__/
assets
Demo/pageobject/__pycache__/
debug.log
Demo/reports/*

